/*Product Card*/
/*Remove body if you don't want body background color*/
body {
    background-color: #ebebeb;
}

.pro-box {
    background-color: #fff;
    border-radius: 8px;
    width: 96%;
    margin: auto;
}

.product-grid {
    width: 100%;
    margin: auto;
}

.product-card {
    width: 200px !important;
    border: 10px green;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 95%;
    margin: auto;
}

    .product-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .product-card label::first-letter {
        text-transform: uppercase;
    }

.pro-img img {
    transition: 1s;
    cursor: pointer;
}

.pro-img:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
